/* CSS Document */

#fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

._divphoto{
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px 10px;
    background: rgba(0,0,0,.2);
    padding: 10px;
    border: 3px solid rgb(190, 85, 15);
    border-radius: 5px;
    
}
._photo{
    float: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,.2);
}


._divphoto:hover ._photo {
    transform:scale(1.3);
    transition: all .5s ease-in-out;
    -webkit-transform:scale(1.3);
    -webkit-transition: all .5s ease-in-out;
}

._divphoto {
    overflow:hidden;
}

/* Modal photo visualization */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.button_div{
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: rgba(33,33,33,0.9); 
    font-family: monospace;
    margin: 0px 20px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
}

button.btn {
    color:#ddd;
    cursor: pointer;
}

button.btnDisabled {
    color:#333;
}